<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%.7thread] %-5p [%C{50}:%L] %m%n</pattern>
    </encoder>
  </appender>

  <logger name="it.fabioformosa.metamorphosis" level="DEBUG" additivity="false">
    <appender-ref ref="stdout"/>
  </logger>

  <root level="WARN">
    <appender-ref ref="stdout"/>
  </root>

</configuration>